# General
.DS_Store
Thumbs.db
*.log
*.tmp
*.bak

# Jekyll
_site/
.jekyll-cache/
.jekyll-metadata

# Python
__pycache__/
*.pyc
.venv/
.env

# C/C++
build/
*.o
*.obj
*.exe

# MATLAB
*.asv

# VS Code
.vscode/

# Mac/Win
Icon?
